.bg-green
{
  background-color: rgba(71, 161, 48, 0.8);
  color: white;
}

.spacer
{
  flex: 1 1 auto;
}

.margin-right
{
  margin-right: 1em;
}

.menu-button{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.logo
{
  font-size: 24px;
  margin-right: 20px;
}

::ng-deep .customize {
  background: rgba(71, 161, 48, 1);
}

.toolbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
