<navbar></navbar>
<h2 style="margin-top: 3em;">Ulubione przepisy</h2>
<search-bar (name)="onFilterChange($event)"></search-bar>

<div class="type-container">
  <div class="type-filter"><button (click)="filterByFoodType('')" ><p class="shadow">Wszystko</p></button></div>
  <div class="type-filter button-breakfast"><button (click)="filterByFoodType('Śniadanie')"><p class="shadow">Śniadanie</p></button></div>
  <div class="type-filter button-lunch"><button (click)="filterByFoodType('Obiad')"><p class="shadow">Obiad</p></button></div>
  <div class="type-filter button-supper"><button (click)="filterByFoodType('Kolacja')"><p class="shadow">Kolacja</p></button></div>
  <div class="type-filter button-dessert"><button (click)="filterByFoodType('Deser')"><p class="shadow">Deser</p></button></div>
</div>

<div class="recipes">
  <div *ngIf="isAnyLikedEmpty">
    <h5>Wygląda na to, że nie polubiłeś/łaś jeszcze żadnego przepisu.</h5>
  </div>
  <div *ngIf="isAnyFilteredEmpty && !isAnyLikedEmpty">
    <h5>Wygląda na to, że nie polubiłeś żadnych przepisów z tej kategorii.</h5>
  </div>
  <div *ngFor="let item of filteredItems" class="spacingCard">
    <div *ngIf="isAdmin() || item.userId === userId">
      <div class="container-row">
        <div class="delete-overlay" (click)="deletePost(item.id)">
          <mat-icon class="delete-overlay-text">delete</mat-icon>
        </div>
        <div class="edit-overlay2" [routerLink]="['/editRecipe/' + item.id]">
          <mat-icon class="delete-overlay-text">edit</mat-icon>
        </div>
      </div>
    </div>
    <div class="like-overlay3" (click)="likeRecipe(item.id)">
      <mat-icon class="delete-overlay-text">favorite</mat-icon>
    </div>
    <culinary-recipe class="spacingCard" [timeToPrepare]="item.timeToPrepare" [foodType]="item.foodType" [image]="item.image" [text]="item.text" [id]="item.id" [title]="item.title">
    </culinary-recipe>
  </div>
</div>
