<navbar></navbar>
<food-carousel></food-carousel>
<div class="container">
  <div class="background-image"></div>
  <div class="content">
    <div class="inner-frame">
      <h1>Witaj na naszej stronie!</h1>
      <cite>"Jedną z najpiękniejszych rzeczy w życiu jest sposób, w jaki musimy regularnie przerywać to, co robimy i poświęcać naszą uwagę jedzeniu."</cite>
      <p class="author">- Luciano Pavarotti</p>
      <a href="#">Zobacz przepisy</a>
    </div>
  </div>
</div>
<!--<img src="assets/bg.jpg" alt="background" class="bg">-->
<!--<div>-->
<!--  <a href="#" class="btn btn-primary" [routerLink]="['userRecipes/']">-->
<!--    Zobacz przepisy użytkowników-->
<!--  </a>-->
<!--</div>-->
