<navbar></navbar>
<food-carousel></food-carousel>
<div class="container">
  <div class="background-image"></div>
  <div class="content">
    <div class="inner-frame">
      <h1>Witaj na mojej stronie!</h1>
      <cite>"Jedną z najpiękniejszych rzeczy w życiu jest sposób, w jaki musimy regularnie przerywać to, co robimy i poświęcać naszą uwagę jedzeniu."</cite>
      <p class="author">- Luciano Pavarotti</p>
      <div class="centered" (click)="showMsg()"><div class="clickable">Zobacz przepisy</div></div>
    </div>
  </div>
</div>
