<navbar></navbar>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h2>Zarejestruj się</h2>
    </div>
    <form method="post" name="signup" id="signup" (ngSubmit)="create()">
      <input type="email" class="fadeIn second" name="emailid" id="emailid" placeholder="Wprowadź email"
             value="" [(ngModel)]="credentials.email" required>
      <input type="password" class="fadeIn third" name="password" id="password"
             placeholder="Wpisz hasło (5-15 znaków)" value="" [(ngModel)]="credentials.password" required>
      <input type="password" class="fadeIn third" name="cpassword" id="cpassword"
             placeholder="Powtórz hasło" value="" #cpasswordInput required>
      <input type="text" class="fadeIn third" name="mem_name" id="mem_name" placeholder="Nazwa" value=""
             [(ngModel)]="credentials.name" required>

      <button type="submit" class="fadeIn fourth" (click)="isFormSubmitted = true">Sing Up</button>
    </form>
  </div>
</div>
