<div class="card card-hover" style="width: 18rem; border-radius: 2px;" [routerLink]="['/recipe/detail/' + id]">
  <culinary-recipe-item-image [image]="image"></culinary-recipe-item-image>
  <div class="card-body ">
    <div class="container-centered"><culinary-recipe-item-type [foodType]="foodType"></culinary-recipe-item-type></div>
    <culinary-recipe-item-title [title]="title"></culinary-recipe-item-title>
    <culinary-recipe-item-prep-time [timeToPrepare]="timeToPrepare"></culinary-recipe-item-prep-time>
<!--    <h5 class="card-title">ss</h5>-->
<!--    <culinary-recipe-item-text [text]="text" [id]="id"></culinary-recipe-item-text>-->
  </div>
</div>
